# Credenciales de PayPal Sandbox
# Obtén las tuyas en: https://developer.paypal.com/dashboard/applications/sandbox
NUXT_PUBLIC_PAYPAL_CLIENT_ID=your_sandbox_client_id_here
PAYPAL_CLIENT_SECRET=your_sandbox_client_secret_here

# Cambiar a https://api-m.paypal.com para producción
PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com
